<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huqingshan.LenMore.mapper.ArticleMapper">
<!--这个id不能写成namesapce的那种形式-->
    <select id="getArticleById" resultType="com.huqingshan.LenMore.model.entity.Article">
        select title,content,author from article where id = #{id}
    </select>

    <select id="getArticles" resultType="com.huqingshan.LenMore.model.entity.Article">
        select id,title,content,author from article
    </select>
</mapper>